@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("./../public/main-laptop-bg.svg") no-repeat center
    center/cover !important;
  color: black !important;
  overflow: auto;
  overflow-x: hidden;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
